### Data Type

In [3]:
# numbers: int, float

number_int = 100

number_float = 100.0

print(number_int, type(number_int))
print(number_float, type(number_float))

100 <class 'int'>
100.0 <class 'float'>

In [4]:
# string

word = 'lorem ipsum'

print(word, type(word))

# format
text = f'integer: {number_int} float: {number_float} string: {word}'

print(text)

text = 'integer: {} float: {:.2f} string: {}'.format(number_int, number_float, word)
print(text)

lorem ipsum <class 'str'>
integer: 100 float: 100.0 string: lorem ipsum
integer: 100 float: 100.00 string: lorem ipsum

In [5]:
# boolean

In [6]:
x = 10
y = 20
condition_1 = x >= y

condition_2 = x!= y

print(f'condition_1: {condition_1}')

print(f'condition_2: {condition_2}')

condition_1: False
condition_2: True

In [7]:
print(f'condition_1 and condition_2: {condition_1 and condition_2}')

print(f'condition_1 or condition_2: {condition_1 or condition_2}')

condition_1 and condition_2: False
condition_1 or condition_2: True

In [8]:
type_1 = type(condition_1)

### Condition

In [9]:
# if 

x = 100

if x >= 20: 
    print('above 20')

above 20

In [10]:
# if-else
x = 10.05

if x >= 20: 
    print('above 20')
else: 
    print('under 20')

under 20

In [11]:
# if-elif-else
print(x)
if x < 20:
    print('under 20')
elif 20<=x<=70:
    print('between 20 and 70')
else:
    print('above 70')

10.05
under 20

In [12]:
# one liner condition
print(x)
value = x if x<20 else x/2

print(value)

10.05
10.05

### Looping

In [13]:
# for loop

for x in range(5):
    print(x)

for x in range(5):
    for _ in range(x):
        print('*' , end= ' ')
    print('')

0
1
2
3
4

*
* *
* * *
* * * *

In [14]:
# while loop

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [15]:
i = 1
while i < 10:
    print(i, end= '')
    if i % 2 != 0:
        print(' <== check odd numbers')
    else:
        print('')
    i += 1

1 <== check odd numbers
2
3 <== check odd numbers
4
5 <== check odd numbers
6
7 <== check odd numbers
8
9 <== check odd numbers

In [16]:
# comprehension for-loop

data = [x for x in range(10)]
print(data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
even_number = [x for x in range(10) if x%2 == 0]
print(even_number)

[0, 2, 4, 6, 8]

In [18]:
nested_number = [ [y for y in range(x)]for x in range(1, 10) ]

print(nested_number)

[[0], [0, 1], [0, 1, 2], [0, 1, 2, 3], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5, 6], [0, 1, 2, 3, 4, 5, 6, 7], [0, 1, 2, 3, 4, 5, 6, 7, 8]]

### List, Tuple, Dictionary

In [19]:
# list

print(type(data))

len_data = [len(x) for x in nested_number]

print(len_data)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
# list method
letters = [chr(x) for x in range(ord('a'), ord('z') + 1)]

print('letters 1:', letters)

print('letters 2:', letters[10]) # index 10 'k'
# append
letters.append('A')
letters.append('B')

print('letters 3:', letters)

# extend
letters.extend(['X', 'Y', 'Z'])
print('letters 4:', letters)
               

# update
letters[2] = 'AB'
print('letters 5:', letters)

# delete

print('letter before delete:', letters[10])

del letters[10]

print('letter after delete:', letters[10])

letters.remove('q')
print('letters without q:', letters)

# pop
value = letters.pop(10)
print('popped value', value)

print('letters without popped letter', letters)

letters 1: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
letters 2: k
letters 3: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B']
letters 4: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'X', 'Y', 'Z']
letters 5: ['a', 'b', 'AB', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'X', 'Y', 'Z']
letter before delete: k
letter after delete: l
letters without q: ['a', 'b', 'AB', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'X', 'Y', 'Z']
popped value l
letters without popped letter ['a', 'b', 'AB', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'X', 'Y', 'Z']

In [48]:
# tuple
letters_tuple = tuple(chr(x) for x in range(ord('a'), ord('z') + 1))

print('new letter tuple:', letters_tuple)

print('previous letters (from list):', tuple(letters))

new letter tuple: ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z')
previous letters (from list): ('a', 'b', 'AB', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'X', 'Y', 'Z')

In [67]:
# dict 
max_hadir = 14
exam_weight = {'hadir': 10, 'tugas':20, 'uts': 30, 'uas': 40} 
siswa_1 = {'hadir': 12, 'tugas': 70, 'uts': 80, 'uas': 97}

siswa_2 = {'hadir': 14, 'tugas': 80, 'uts': 90, 'uas': 67}

# nilai real dengan bobot:
hadir = siswa_1['hadir'] / max_hadir * exam_weight['hadir']
print('hadir:', hadir)
tugas = siswa_1['tugas'] * exam_weight['tugas'] / 100
print('tugas:', tugas)
uts = siswa_1['uts'] * exam_weight['uts'] / 100
print('uts:', uts)
uas = siswa_1['uas'] * exam_weight['uas'] / 100
print('uas:', uas)

total_nilai = hadir + tugas + uts + uas
print('total_nilai:', total_nilai)
print('total_nilai (pembulatan):', round(total_nilai, 2))

# Menggunakan for loop
total_points = 0
for k, v in siswa_2.items():
    if k == 'hadir':
        total_points += v / max_hadir * exam_weight[k]
    else:
        total_points += v * exam_weight[k] / 100

print('total_points:', total_points)
print('total_points (pembulatan):', round(total_points, 2))

hadir: 8.571428571428571
tugas: 14.0
uts: 24.0
uas: 38.8
total_nilai: 85.37142857142857
total_nilai (pembulatan): 85.37
total_points: 79.8
total_points (pembulatan): 79.8

### Slicing

In [74]:
print(letters[1])

print('range:', letters[10:14])

print('from beginning:', letters[:14])

print('to the end:', letters[14:])

b
range: ['m', 'n', 'o', 'p']
from beginning: ['a', 'b', 'AB', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'm', 'n', 'o', 'p']
to the end: ['r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'X', 'Y', 'Z']

In [83]:
# step forward
print('step 2:', letters[::2])

print('step 3, start from 1:', letters_tuple[1::3])

# step backward

print('step -1:', letters_tuple[::-1])

print('step -2, from index 5:', letters_tuple[15::-2])

step 2: ['a', 'AB', 'e', 'g', 'i', 'm', 'o', 'r', 't', 'v', 'x', 'z', 'B', 'Y']
step 3, start from 1: ('b', 'e', 'h', 'k', 'n', 'q', 't', 'w', 'z')
step -1: ('z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')
step -2, from index 5: ('p', 'n', 'l', 'j', 'h', 'f', 'd', 'b')

### Function

In [86]:
def get_total_nilai(nilai_siswa):
    total_points = 0
    for k, v in nilai_siswa.items():
        if k == 'hadir':
            total_points += v / max_hadir * exam_weight[k]
        else:
            total_points += v * exam_weight[k] / 100
    return round(total_points,2)

In [88]:
print('nilai siswa 1:', get_total_nilai(siswa_1))
print('nilai siswa 2:', get_total_nilai(siswa_2))

nilai siswa 1: 85.37
nilai siswa 2: 79.8

In [90]:
nilai_kelas = [
    {'hadir': 12, 'tugas': 90, 'uts': 60, 'uas': 77},
    {'hadir': 14, 'tugas': 60, 'uts': 80, 'uas': 57},
    {'hadir': 9, 'tugas': 80, 'uts': 80, 'uas': 55},
    {'hadir': 14, 'tugas': 97, 'uts': 87, 'uas': 80},
    {'hadir': 10, 'tugas': 88, 'uts': 78, 'uas': 75}
]

In [98]:
# hitung nilai
for index, nilai in enumerate(nilai_kelas):
    print(f'siswa{index+1}: {get_total_nilai(nilai)}')

# using lambda
counted_value = [get_total_nilai(nilai) for nilai in nilai_kelas]

print('in list form:', counted_value)

siswa1: 75.37
siswa2: 68.8
siswa3: 68.43
siswa4: 87.5
siswa5: 78.14
in list form: [75.37, 68.8, 68.43, 87.5, 78.14]

### Exercise

In [111]:
max_hadir = 14
exam_weight = {'hadir': 10, 'tugas':20, 'uts': 30, 'uas': 40} 

# grade 
# 0 <= nilai < 50: E
# 50 <= nilai <  60: D
# 60 <= nilai <  70: C
# 70 <= nilai <  85: B
# 85 <= nilai <=  100: A

# nilai A, B => Lulus
# nilai C => lulus bersyarat
# nilai D, E => tidak lulus

data_siswa = [
    {'nama': 'Iwan', 'nilai': {'hadir': 12, 'tugas': 90, 'uts': 60, 'uas': 77}},
    {'nama': 'Lisa', 'nilai': {'hadir': 14, 'tugas': 60, 'uts': 80, 'uas': 57}},
    {'nama': 'Tono', 'nilai': {'hadir': 14, 'tugas': 50, 'uts': 30, 'uas': 60}},
    {'nama': 'Richard', 'nilai': {'hadir': 12, 'tugas': 50, 'uts': 50, 'uas': 37}},
    {'nama': 'Wawan', 'nilai': {'hadir': 7, 'tugas': 50, 'uts': 55, 'uas': 47}},
    {'nama': 'Maman', 'nilai': {'hadir': 14, 'tugas': 90, 'uts': 70, 'uas': 87}},
    {'nama': 'Lala', 'nilai': {'hadir': 12, 'tugas': 70, 'uts': 65, 'uas': 75}},
    {'nama': 'Cipto', 'nilai': {'hadir': 12, 'tugas': 80, 'uts': 77, 'uas': 88}}
]

# output 
'nama: Iwan, total_nilai: 90, grade: A, dinyatakan lulus'

'nama: Iwan, total_nilai: 90, grade: A, dinyatakan lulus'

### Answer

In [109]:
max_hadir = 14
exam_weight = {'hadir': 10, 'tugas':20, 'uts': 30, 'uas': 40} 

# grade = {range(0, 50): 'E', range(50, 60): 'D', range(60, 70): 'C', range(70, 85): 'B', range(85, 100): 'A'}

results = {'A': 'lulus', 'B': 'lulus', 'C': 'lulus bersyarat', 'D': 'tidak lulus', 'E': 'tidak lulus'}

def get_grade(total):
    if 85 <= total <= 100:
        return 'A'
    if 70 <= total < 85:
        return 'B'
    if 60 <= total < 70:
        return 'C'
    if 50 <= total < 60:
        return 'D'
    if 0 <= total < 50:
        return 'E'
    

def get_total_nilai(nilai_siswa):
    total_points = 0
    for k, v in nilai_siswa.items():
        if k == 'hadir':
            total_points += v / max_hadir * exam_weight[k]
        else:
            total_points += v * exam_weight[k] / 100

    grade = get_grade(total_points)
    final_result = results[grade]
    return round(total_points,2), grade, final_result

for siswa in data_siswa:

    points, grade, result = get_total_nilai(siswa['nilai'])
    nama_siswa = siswa['nama']
    print(f'nama: {nama_siswa}, total_nilai: {points}, grade: {grade}, dinyatakan {result}')

nama: Iwan, total_nilai: 75.37, grade: B, dinyatakan lulus
nama: Lisa, total_nilai: 68.8, grade: C, dinyatakan lulus bersyarat
nama: Tono, total_nilai: 53.0, grade: D, dinyatakan tidak lulus
nama: Richard, total_nilai: 48.37, grade: E, dinyatakan tidak lulus
nama: Wawan, total_nilai: 50.3, grade: D, dinyatakan tidak lulus
nama: Maman, total_nilai: 83.8, grade: B, dinyatakan lulus
nama: Lala, total_nilai: 72.07, grade: B, dinyatakan lulus
nama: Cipto, total_nilai: 82.87, grade: B, dinyatakan lulus